{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
 <h2> le produit {{ produit.nom }} à été ajouté avec succés (id={{ produit.id}})...!</h2>
<a href="{{ path('produit_list') }}">Voir liste</a>
{% endblock %}
