{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
<h1>Liste des produits</h1>
   
<div class="container">
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">Supprimer</th>
      
    </tr>
  </thead>
  <tbody>
    {% for p in produits %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td><a href="{{ path('produit_detail',{'id':p.id})}}">{{ p.nom }}</a></td>
      <td><a href="{{ path('produit_delete',{'id':p.id})}}"><button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block">Supprimer</button></a></td>
      
    </tr>
    {% endfor %}
      </tbody>
</table>
</div>



{% endblock %}
